<style>
  /* 默认所有的链接都是黑色 */
  a {
    color: black;
  }

  /* 特定类的链接是更漂亮的蓝色 */
  a.download-link {
    color: #1E90FF; /* DodgerBlue, 你可以选择其他蓝色 */
  }

  /* 如果想让链接在鼠标悬停时有一个更深的蓝色 */
  a.download-link:hover {
    color: #007BFF; /* 这是一个更深的蓝色 */
  }
</style>

{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <li>
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}
    <h3 class="archive__item-title" itemprop="headline">
      {% if post.link %}
        <a href="{{ post.link }}">{{ title }}</a> 
        <a href="{{ base_path }}{{ post.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
      {% else %}
        <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
      {% endif %}
    </h3>
    {% assign authors = post.authorlist | split: ", " %}
    {% for a in authors %}
      {% if a==authors.last %}
          {% if a=='Runlin Lei' %}
            <b>Runlin Lei</b>.
          {% else %}
            {{a}}.
          {% endif %}
      {% else %}
          {% if a=='Runlin Lei' %}
            <b>Runlin Lei</b>,
          {% elsif a=='Runlin Lei*' %}
            <b>Runlin Lei*</b>,
          {% else %}
            {{a}},
          {% endif %}
      {% endif %}
    {% endfor %}<br>
      {% if post.status == 'pub' %}
        In <b><i>{{post.venue}}</i></b> {{post.year}}.
      {% elsif post.status == 'acc' %}
        To appear in <b><i>{{post.venue}}</i></b> {{post.year}}.
      {% elsif post.status == 'sub' %}
        Under review.
      {% else %}
        <i>Preprint</i>
      {% endif %}
      
      <!-- 这里将download paper和code部分加上download-link类 -->
      {% if post.paperurl %}
        <a href="{{ post.paperurl }}" rel="permalink" class="download-link">[Download paper]</a>
      {% endif %}
      {% if post.code %}
        <a href="{{ post.code }}" rel="permalink" class="download-link">[code]</a>
      {% endif %}
      {% if post.video %}
        <a href="{{ post.video }}" rel="permalink">[video]</a>
      {% endif %}
    </li>
 </article>
</div>