---
---

/*
 *    Minimal Mistakes Jekyll Theme
 *
 *  - Michael Rose
 *  - mademistakes.com
 *  - https://twitter.com/mmistakes
 *
*/

@import "vendor/breakpoint/breakpoint"; // media query mixins
@import "variables";
@import "mixins";
@import "vendor/susy/susy";

@import "reset";
@import "base";

@import "utilities";
@import "animations";
@import "tables";
@import "buttons";
@import "notices";
@import "masthead";
@import "navigation";
@import "footer";
@import "syntax";

@import "forms";

@import "page";
@import "archive";
@import "sidebar";

@import "vendor/font-awesome/fontawesome";
@import "vendor/font-awesome/solid";
@import "vendor/font-awesome/brands";
@import "vendor/magnific-popup/magnific-popup";
@import "print";

.paper-box {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: 1px #efefef solid;
    padding: 2em 0 2em 0;
    

    .paper-box-image{
        justify-content: center;
        display: flex;
        width: 100%;
        order: 2;
        img {
            max-width: 400px;
            box-shadow: 3px 3px 6px #888;
            object-fit: cover;
        }
    }
    
    .paper-box-text{
        max-width: 100%;
        order: 1;
    }
    
    @include breakpoint($medium) {
        .paper-box-image{
            justify-content: left;
            min-width: 200px;
            max-width: 40%;
            order: 1;
        }
        
        .paper-box-text{
            justify-content: left;
            padding-left: 2em;
            max-width: 60%;
            order: 2;
        }

    }


}

$scroll_offset : 2em;
h1:before, .anchor:before { 
    content: ''; 
    display: block; 
    position: relative; 
    width: 0; 
    height: $scroll_offset; 
    margin-top: -$scroll_offset;
}

.badge {
    padding-left: 1rem;
    padding-right: 1rem;
    position: absolute;
    margin-top: .5em;
    margin-left: -.5em;
    color: white;
    background-color: #00369f;
    font-size: .8em;
}

// Publications list styling
.publications-list {
    list-style: none;
    padding: 0;
    margin: 0;
    
    li {
        margin-bottom: 2em;
        padding: 1.5em 0;
        border-bottom: 1px solid #efefef;
        list-style: none;
        
        &:last-child {
            border-bottom: none;
        }
        
        .archive__item-title {
            margin-bottom: 0.5em;
            font-size: 1.1em;
            line-height: 1.3;
            
            a {
                color: #333;
                text-decoration: none;
                
                &:hover {
                    color: #2980B9;
                }
            }
        }
        
        .download-link {
            color: #1E90FF;
            text-decoration: none;
            margin-right: 0.5em;
            
            &:hover {
                color: #007BFF;
                text-decoration: underline;
            }
        }
    }
}

// Talks list styling
.talks-list {
    list-style: none;
    padding: 0;
    
    li {
        margin-bottom: 1em;
        padding: 1em 0;
        border-bottom: 1px solid #f0f0f0;
        
        &:last-child {
            border-bottom: none;
        }
        
        .date {
            font-weight: bold;
            margin-right: 0.5em;
        }
    }
}

// Honors list styling
.honors-list {
    list-style: none;
    padding: 0;
    
    li {
        margin-bottom: 0.8em;
        padding-left: 1em;
        border-left: 3px solid #34495E;
        
        strong {
            margin-right: 0.5em;
        }
        
        .highlight {
            font-weight: bold;
        }
    }
}

// Services list styling
.services-list {
    list-style: none;
    padding: 0;
    
    li {
        margin-bottom: 0.5em;
        
        strong {
            margin-right: 0.5em;
        }
    }
}

// Section styling
.section-content {
    margin-bottom: 2em;
    padding: 1em;
    border-left: 4px solid;
    background-color: #f9f9f9;
    
    &.about-me {
        background-color: #f8f9fa;
    }
    
    &.visitor-opportunities {
        background-color: #fff8e1;
        
        .highlight {
            font-weight: bold;
        }
    }
    
    &.honors-scholarships {
        background-color: #f8f9fa;
    }
    
    &.services {
        background-color: #f8f9fa;
    }
}

.section-title {
    font-weight: bold;
    margin-bottom: 0.5em;
}